body{
    background-color: #47a;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    color: white;
    margin: auto;
    padding-bottom: 50px;
}

h1{
    font-weight:600;
    font-size: 3em;
    letter-spacing: 3px;
    word-spacing: 10px;
}

.form-data{
    box-sizing: border-box;
    width: 80%;
    padding: 30px 50px;
    margin: auto;
    background-color: #2226;
    border-radius: 10px;
    box-shadow: 0 0 25px #ccc;
}

.fieldset{
    text-align: left;
    width: 90%;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    border: 1px solid #bbb;
    margin-bottom: 25px;
}

.legend{
    text-align: left;
    font-size: 1.6rem;
    font-weight: 600;
}

.div-2{
    width: 40%;
    flex: auto;
}

.div-inline{
    display: flex;
}

.label{
    box-sizing: border-box;
    font-size: 1.2rem;
    font-weight: 100;
    max-width: 50%;
    width: 500px;
    text-align: left;
    margin: 10px;
    padding: 20px 0;
    }

.input:valid{
    width: 13%;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 5px 20px 5px 20px;
    background-color: #2226;
    color: #ccc;
    padding: 2px 2px 2px 10px;
    font-weight: 600;
}

.input:invalid{
    width: 13%;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 5px 20px 5px 20px;
    background-color: #a22c;
    color: #ccc;
    padding: 2px 2px 2px 10px;
    font-weight: 600;
}

.input-2{
    margin-left: 10px;
    width: 25%;
}

h2{
    font-weight: 100;
    text-align: center;
}

.button{
    width: 180px;
    height: 50px;
    border-radius: 5px;
    margin: 0 10px;
    border: 1px solid #ccc;
    color: #eee;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 1px;
}

.submit{
    background-color: #23d5;
}

.reset{
    background-color: #c32;
}

.div-table{
    box-sizing: border-box;
    width: 80%;
    padding: 30px 50px;
    margin: auto;
    background-color: #2226;
    border-radius: 10px;
    box-shadow: 0 0 25px #ccc;
    margin-top: 40px;
}

.title-div-1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 5px;
    word-spacing: 10px;
    margin: 8px 8px 30px 8px;
    padding: 0;
}

th, td{
    padding: 6px;
    box-sizing: border-box; /* Para incluir el padding en el ancho */
}

th{
    background-color: #333;
    height: 40px;
    width: 50px;
}

td{
    background-color: #bbb;
    color: #333;
}

tr:nth-child(even) td {
    background-color: #bbb; /* Color para filas pares */
    color: #333;
}
tr:nth-child(odd) td {
    background-color: #eee; /* Color para filas impares */
    color: #333;
}

table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 3px;
    overflow-x: auto; /* Agregamos el scroll horizontal */
    overflow-y: auto;
}

.table-container{
    width: 100%;
    overflow-x: auto;
    max-height: 500px;
    overflow-y: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}